*{  
    margin: 0;
    padding: 0;
    font-family: 'Fuzzy Bubbles', cursive;
    box-sizing: border-box; 
}



.topnav {
    overflow: hidden;
    background-color: #001449;
}

.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 20px 25px;
    border-radius: 5px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #012677;
    color: white;
}

a[class="Login"] {
    float: right;
}


.history{
    text-align: center;
    padding: 10px;
    margin-top: 50px;
    margin-left: 25px;
    margin-bottom: 50px;
    margin-right: 25px;
}

.history p {
    padding: 10px;
    text-align: center;
}
.principal {
    width: 100%;
    height: 100%;
    background-size: 100%;
    margin-left: 0%;
    margin-right: 0%;
    background-repeat: no-repeat;

}

#coluna1-principal {
    float: left;
    border-radius: 3%;
    width: 45%;
    padding: 4%;
    background-image: radial-gradient(circle at 37.72% -19.64%, #453b5a 0, #2c2752 25%, #001449 50%, #000041 75%, #00003b 100%);
    color: white;
    height: 100%;
    text-align: center;
}


#coluna2-principal {
    display: flex;
    
    border-radius: 5px;
    float: right;
    width: 55%;
} 

.img{
    width: 50%;
    height: 55%;

}

#titulo {
    margin-top: 30%;
    text-align: center;
}

.cards{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card{
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 30px 15px;
    margin: 20px;
    margin-top: 50px;
    width: 400px;
    height: 250px;
    transition: all 0.3s ease-out;
}


.card:hover{
    transform: translate(-5px);
    cursor: pointer;
}

h3 {
    text-align: center;
    
}



#img{
    float: right;
    width: 200px;
    height: auto;
}


.titulo-contato{
    text-align: center;
    padding: 35px;
}

#formulario{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    max-width: auto;
    min-height: auto;
    padding: 10px 25px 20px 25px;
}

i{
    padding: 5px;
}

.bnt{
    margin-top: 10px;
}


.footer{
    background-color: #0f132e;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 25px;
}